@font-face {
    font-family: FuturaPT-Bold;
    src: url('./FuturaPT-Bold.woff2');
}

@font-face {
    font-family: FuturaPT-Light;
    src: url('./FuturaPT-Light.woff2');
}

@font-face {
    font-family: FuturaPT-Medium;
    src: url('./FuturaPT-Medium.woff2');
}

* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('./lycs-architecture-U2.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 89vh;
    position: relative;
}

.header-bg-color {
    opacity: 0.75;
    height: 100%;
    width: 100%;
    background-color: #041230;
    position: absolute;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.site-title {
    font-family: "FuturaPT-Bold";
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 62px;
    margin-top: 50px;
}

.action-form {
    background-color: #fff;
    border: 4px solid #3E39B7;
    padding: 10px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.action-form input[type='text'] {
    font-family: "FuturaPT-Medium";
    width: 100%;
    padding: 10px 15px;
    color: black;
    border: none;
    border-bottom: 1px solid rgba(100,100,100,0.2);
    outline: none;
    font-size: 16px;
}

.form-title {
    font-family: "FuturaPT-Light";
    font-size: 36px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(100,100,100,0.2);
}

.form-bottom {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.form-bottom p {
    margin-left: 10px;
    font-size: 14px;
    font-family: "FuturaPT-Light";
}

.action-form button {
    color: white;
    display: flex;
    font-family: "FuturaPT-Light";
    font-size: 18px;
    padding: 15px 0;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    background-color: #3E39B7;
    border: none;
}

.information-block-container {
    position: relative;
}

.information-block {
    border: 15px solid #CDF13B;
    padding: 30px 60px 30px 88px;
    position: relative;
    z-index: 2;
    top: -190px;
}

.information-block-text {
    position: relative;
}

.information-block-title {
    font-size: 46px;
    color: #00ccff;
    text-transform: uppercase;
    font-family: "FuturaPT-Bold";
    padding-bottom: 30px;
}

.information-block-mini-text {
    font-family: "FuturaPT-Light";
    font-size: 20px;
    color: black;
    padding-top: 20px;
    position: relative;
    padding-left: 130px;
}

.information-block-mini-text:before {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    left: 7px;
    top: 30px;
    height: 5px;
    background-color: #00ccff;
}

.tradingview-widget-copyright {
    display: none;
}

.atom {
    background-color: #fff;
    width: 16px;
    display: inline-block;
    height: 16px;
    border-radius: 50%;
}

.atom-left {
    position: absolute;
    top: 20px;
    left: -65px;
}

.atom-right {
    position: absolute;
    bottom: 40px;
    right: 65px;
}

.information-block-container-image {
    position: relative;
    right: 90px;
    top: -100px;
    z-index: 1;
}

.information-block-image-role {
    font-family: "FuturaPT-Bold";
    font-size: 26px;
    text-transform: uppercase;
    color: black;
    padding-left: 10px;
}

.information-block-image-name {
    font-family: "FuturaPT-Light";
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    font-size: 26px;
    background-color: #d5ff03;
    padding: 10px 8px;
    width: 203px;
}

.information-block-image-text {
    position: absolute;
    bottom: 4px;
    left: -130px;
}

.atom-black {
    background-color: black;
}

.information-tagline {
    font-family: "FuturaPT-Medium";
    font-size: 32px;
    position: absolute;
    top: 183px;
}

.card-item {
    max-width: 320px;
    width: 100%;
    margin-bottom: 50px;
}

.card-title {
    font-family: "FuturaPT-Medium";
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.card-text {
    font-family: "FuturaPT-Light";
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.card-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-row {
    height: 350px;
}

.register-text {
    background-color: #4F48E4;
    padding: 6px 16px;
}

.register-text-title {
    color: white;
    font-family: "FuturaPT-Bold";
    font-size: 40px;
    text-transform: uppercase;
}

.register-text-text {
    color: white;
    font-family: "FuturaPT-Light";
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.action-form {
    max-width: 350px;
}

.tradingview-widget-container {
    margin-bottom: 40px;
}

.footer {
    padding: 20px 0;
    background-color: #4F48E4;
    margin-top: 40px;
}

.footer-copyright {
    color: white;
    font-family: "FuturaPT-Light";
    text-align: center;
}

@media (max-width: 800px) {
    .site-title {
        font-size: 28px;
        text-align: center;
        margin-top: 10px;
    }
    .logo {
        width: 70px;
        margin: 0 auto;
        display: flex;
    }
    .action-form {
        min-height: 350px;
        margin-top: 15px;
    }
    .information-block {
        top: 0;
        border: 8px solid #CDF13B;
        padding: 10px;
        margin: 20px 0;
    }
    .information-block-title {
        font-size: 27px;
        text-align: center;
    }
    .atom {
        display: none;
    }
    .information-block-mini-text {
        padding-left: 0;
        padding-top: 0;
    }
    .information-block-mini-text:before {
        display: none;
    }
    .information-tagline {
        position: static;
    }
    .information-block-container-image {
        right: 0;
        position: relative;
        top: 0;
    }
    .information-block-container-image img {
        max-width: 100%;
    }
    .information-tagline p {
        text-align: center;
    }
    .information-row {
        height: auto;
    }
    .information-block-image-text {
        right: auto;
        left: auto;
    }
    #tradingview_87217 > div, #tradingview_87217 > div > div {
        width: auto !important;
    }
    .tradingview-widget-container {
        margin-bottom: 10px;
    }
    .action-form-bottom {
        margin-bottom: 20px;
    }
    .register-text-title {
        font-size: 28px;
        text-align: center;
    }
    .register-text-text {
        text-align: center;
    }
    .card-item {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .card-title {
        text-align: center;
    }
}

@media (max-height: 800px) {
    .information-block-title {
        font-size: 36px;
    }
    .information-block {
        top: -160px;
    }
    .action-form {
        min-height: auto;
    }
}